language: csharp

addons:
  apt:
    packages:
      - wine

env:
  - DEBUG="*" NODE_VERSION="4.2"
  - DEBUG="*" NODE_VERSION="0.12"

before_install:
  - nvm install $NODE_VERSION

install:
  - npm install

script:
  - npm test
