version: "{build}"

init:
  - git config --global core.autocrlf input

environment:
  DEBUG: 'electron-installer-windows'

  matrix:
    - platform: x86
      nodejs_version: '8'
    - platform: x64
      nodejs_version: '8'
    - platform: x86
      nodejs_version: '6'
    - platform: x64
      nodejs_version: '6'

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build: off

before_test:
  - node --version
  - npm --version

test_script:
  - npm test
